
<%= page_img %>
<h1>NASZA FIRMA</h1>
<h2>Z nami pranie jest dziecinnie proste!</h2>
<p class="Text">Nasza Firma istnieje na rynku od 1996 roku. Kilkanaście lat doświadczeń 
i słuchania opinii Klientów pozwala nam świadczyć usługi na najwyższym poziomie.
Ku naszej satysfakcji dbałość o jakość i rozwój naszych usług
dostrzegają zarówno klienci indywidualni jak i firmy, hotele, czy restauracje.
</p>