
<%= page_img %>
<h1>KONTAKT</h1>
<h2>Jeśli masz pytania, napisz lub zadzwoń!</h2>
<p class="Text">Z radością odpowiemy na wszelkie Państwa pytania. 
Zachęcamy do kontaktu firmy i instytucje zainteresowane dłuższą współpracą. Obiecujemy
atrakcyjne rabaty!
</p>
