<img src="img/prices.jpg" height=120>
<h1>CENNIK</h1>
<h2>Nie przegap okazji!</h2>
<p class="Text">Od początku istnienia Pralni dbamy o konkurencyjność naszych
usług i wychodzimy na przeciw Państwa oczekiwaniom. 
Zapraszamy do zapoznania się ze szczegółową ofertą. 
</p>
