<%= page_img %>
<h1>OFERTA</h1>
<h2>Jesteśmy blisko Ciebie!</h2>
<p class="Text">Świadczymy usługi czyszczenia chemicznego, prania wodnego, prasowania
oraz maglowania z wykorzystaniem najnowszych technologii i środków czyszczących
przyjaznych dla środowiska. Wykwalifikowany personel zapewni Państwu sprawną obsługę.
Z naszą ofertą docieramy do mieszkańców Krakowa. 
</p>
