<img src="img/contact.jpg" height=180>
<h1>KONTAKT</h1>
<h2>Jeśli masz pytania, napisz lub zadzwoń!</h2>

<p class="Text">Z radością odpowiemy na wszelkie Państwa pytania. 
Zachęcamy do kontaktu firmy i instytucje zainteresowane dłuższą współpracą. Klientom biznesowym oferujemy:
<ul>
<li>transport do wyznaczonego miejca przez klienta <b>GRATIS!</b></li>
<li>rabaty dla stałych klientów do <b>50%</b></li>
<li>szybkie terminy realizacji</li>
<li>miłą i fachową obsługę.</li>
</ul>
</p>

<p>Tel. 12 648 58 54, 12 641 64 91</p>
