<table class="Boxes">
<tr><td>
	<%= render_brief :index, :img_height => 170 %>
</td><td>
	<a href="service.html">
		<img src="img/service.jpg" height=120>
		<h1>OFERTA</h1>
		<h2>Jesteśmy blisko Ciebie!</h2>
		<p class="Text">Świadczymy usługi czyszczenia chemicznego, prania wodnego, prasowania
			oraz maglowania z wykorzystaniem najnowszych technologii i środków czyszczących
			przyjaznych dla środowiska. Wykwalifikowany personel zapewni Państwu sprawną obsługę.
			Z naszą ofertą docieramy do mieszkańców Krakowa. 
		</p>
	</a>
</td></tr>
<tr><td>
	<a href="prices.html">
		<img src="img/prices.jpg" height=120>
		<h1>CENNIK</h1>
		<h2>Nie przegap okazji!</h2>
		<p class="Text">Od początku istnienia Pralni dbamy o konkurencyjność naszych
			usług i wychodzimy na przeciw Państwa oczekiwaniom. 
			Zapraszamy do zapoznania się ze szczegółową ofertą. 
		</p>
	</a>
</td><td>
	<a href="contact.html">
		<img src="img/contact.jpg" height=120>
		<h1>KONTAKT</h1>
		<h2>Jeśli masz pytania, napisz lub zadzwoń!</h2>
		<p class="Text">Z radością odpowiemy na wszelkie Państwa pytania. 
			Zachęcamy do kontaktu firmy i instytucje zainteresowane dłuższą współpracą. Obiecujemy
			atrakcyjne rabaty!
		</p>
	</a>
</td></tr>
</table>
